* {
    margin: 0;
}

header {
    width: 100%;
    height: 100px;
    background-color: lightgreen;
}
aside{
    width: 20%;
    height: 275px;
    float: left;
    background-color: lightgray;
}

div {
    background-color: white;
    border: 4px outset brown;
    width: 200px;
    float: left;
    margin: 10px;
    text-align: center;
    padding: 10px 0;
    margin-left: 10%;
}

main {
    width: 80%;
}

div:hover {
    cursor: pointer;
    background-color: rgb(57, 184, 74);
}

a {
    color: darkgreen;
}

a:visited {
    color: darkred;
}

p {
    color: red;
}

footer {
    background-color: greenyellow;
    text-align: right;
    padding: 10px;
}
.ryba{
    height: 300px;
    margin-left: 10%;
}
ol{
    font-size: large;
}